@model IEnumerable<BDshka.ViewModels.CorzinaViewModel>

<h2>Корзина</h2>
<p><a asp-action="AddtoCorzinaRemont" asp-controller="account">Добавить услугу в корзину</a></p>

<table class="table">
    <tr><th>ID</th><th>Имя</th><th>Телефон</th><th>Роль</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID_Client</td>
            <td>@item.FIO</td>
            <td>@item.Phone_Number</td>
            <td>@item.ID_Role</td>
            <td>
                <form asp-controller="admin" asp-action="Delete" method="post" asp-route-id="@item.ID_Client">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>
