@model IEnumerable<BDshka.Models.Book_of_MaterialModel>

<h2>Список материалов</h2>
<p><a asp-action="Index" asp-controller="home">В меню</a></p>

<form asp-controller="Account" asp-action="AddtoNaborMaterial">
<table class="table" >
    <tr><th>ID</th><th>Название</th><th>Стоимость</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID_Material</td>
            <td>@item.ID_Category</td>
            <td>@item.Title</td>
            <td>@item.Cost</td>
            <td>
                <label>Выбрать </label>
                    <input type="checkbox" name="IsChoosen" value="@item.ID_Material"  />
            </td>
            <td>
                <label>Выбрать </label>
                <input type="number" name="Kolvo" value="1" />
            </td>
        </tr>
    }
        <input type="submit" value="Выбрать" />
</table>
</form>