@model IEnumerable<BDshka.Models.Material_NaborModel>

<h2>Корзина</h2>
<p><a asp-action="Materials" asp-controller="home">Добавить материал в корзину</a></p>

<table class="table">
    <tr><th>ID</th><th>ID Заказа</th><th>ID Материала</th><th>Количество</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID_Nabor</td>
            <td>@item.ID_Order</td>
            <td>@item.ID_Material</td>
            <td>@item.Kol_vo</td>
            <td>
                <form asp-controller="admin" asp-action="DeleteOrder" method="post" asp-route-id="@item.ID_Order">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
    <form asp-controller="admin" asp-action="DeleteAllOrderss" method="post">
        <input type="submit" value="Удалить Всё" />
    </form>
</table>